.swiper-container {
	width: 100%;
	height: 15rem;
	overflow: hidden;
	position: relative;
	.swiper-wrapper {
	height: 100%;
	z-index: 1;
	display: -webkit-box;
		.swiper-slide{
			height: 100%;
			position: relative;
			overflow: hidden;
		}
	}
	.swiper-pagination{
		position: absolute;
		bottom: .5rem;
		left: 50%;
		-webkit-transform: translateX(-50%);
		.swiper-pagination-bullet {
		  width: .5rem;
		  height: .5rem;
		  display: inline-block;
		  border-radius: 100%;
		  background-color: #fff;
		  margin: 0 .5rem;
		}
		.swiper-pagination-bullet-active {
		  background-color: #d956ee;
		}
	}
}
			
			
			
			